{% extends 'new_design/base.html' %}

{% block title %}고객 본인인증{% endblock %}

{% block body %}
    <form method="post" accept-charset="EUC-KR" id="authReqeustForm" hidden
          action="https://wauth.teledit.com/Danal/WebAuth/Web/Start.php">
        {#<form method="post" accept-charset="EUC-KR" id="authReqeustForm" action="https://wauth.teledit.com/Danal/WebAuth/Mobile/Start.php">#}
        <input name="TID" id="TID" value="{{ danal.tid }}">
        <input name="BackURL" id="BackURL" value="{{ danal.auth_error_url }}">
        <input name="IsDstAddr" id="IsDstAddr" value="{{ danal.phone_no|default_if_none:'' }}">
    </form>
{#    <button type="button" onclick="auth()">인증</button>#}
{% endblock %}

{% block extrascript %}
    <script>
        const authReqeustForm = document.getElementById('authReqeustForm')
        document.addEventListener('DOMContentLoaded', () => {
            overlay.on()
            setTimeout(() => {
                authReqeustForm.submit()
            }, 1000)
        })
    </script>
{% endblock %}