{% extends 'car_cms/base.html' %}
{% load static %}

{% block title %}차다이렉트{% endblock %}

{% block extrastyle %}
{% endblock %}

{% block outerbody %}
    {% include 'car_cms/partials/navbar.html' with title="차다이렉트" %}
{% endblock %}

{% block body %}
    <div class="d-flex flex-column justify-content-center p-3">
        <div class="h5 mt-3 mb-1 text-center">견적요청</div>
        <div class="h6 mt-3 mb-5 text-center">개인/기존 차량</div>
        <div>
            <div class="mb-4"><span class="color-danger">*</span> 표시는 필수 입력 항목입니다.</div>
            <form method="post" id="compareForm" enctype="multipart/form-data">
                {% csrf_token %}
                {#                <div class="form-check mb-3">#}
                {#                    <input type="checkbox" class="form-check-input" id="channelCheck" name="channelCheck" checked>#}
                {#                    <label class="form-check-label" for="channelCheck">다이렉트</label>#}
                {#                </div>#}

                <div class="form-check mb-3">
                    <input type="checkbox" class="form-check-input" id="requestAuth" name="request_auth">
                    <label class="form-check-label" for="requestAuth" style="cursor: pointer">고객 본인인증 요청
                        <div>
                            <small>본인인증을 통해 개인정보 처리 및 서비스 약관 동의를 받는 SMS가 발송됩니다.</small>
                        </div>
                    </label>
                </div>
                <div class="form-group">
                    <label>선호채널 <span class="color-danger">*</span></label>
                    <select class="form-control-cc form-control-lg" id="id_channel" name="channel">
                        <option value="direct" {% if form.channel.value == 'direct' %}selected{% endif %}>다이렉트</option>
                        <option value="legacy" {% if form.channel.value == 'legacy' %}selected{% endif %}>일반</option>
                    </select>
                </div>
                <input id="id_customer_type" name="customer_type" value="0" hidden placeholder="고객유형">
                <div class="form-group">
                    <label>고객명 <span class="color-danger">*</span></label>
                    <input autofocus placeholder="고객명" class="form-control-cc form-control-lg is-valid" type="text"
                           id="id_customer_name"
                           name="customer_name" value="{{ form.customer_name.value|default_if_none:'' }}">
                    <div class="invalid-feedback">고객명을 입력하세요.</div>
                </div>
                <div class="form-group">
                    <label>주민번호 <span class="color-danger">*</span></label>
                    <div class="d-flex">
                        <div class="form-group mr-1">
                            <input class="form-control-cc" type="text" maxlength="6" minlength="6" pattern="[0-9]*" inputmode="numeric" id="ssnprefix">
                        </div>
                        <div class="form-group ml-1">
                            <input class="form-control-cc" type="password" maxlength="7" minlength="7" pattern="[0-9]*" inputmode="numeric" id="ssnsuffix">
                        </div>
                    </div>
                    <input id="id_customer_identification" name="customer_identification" type="text"
                           value="" hidden>
                    <div class="invalid-feedback">주민번호 값을 확인하세요.</div>
                </div>
                <div class="form-row">
                    <div class="col-4">

                        <div class="form-group">
                            <label for="id_career">통신사</label>
                            <select class="form-control-cc form-control-lg" id="id_career" name="career">
                                <option value="01">SKT</option>
                                <option value="02">KT</option>
                                <option value="03">LGU+</option>
                                <option value="04">SKT(알뜰)</option>
                                <option value="05">KT(알뜰)</option>
                                <option value="06">LGU+(알뜰)</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="form-group">
                            <label>휴대전화 <span class="color-danger">*</span></label>
                            <input autofocus placeholder="휴대전화(- 제외)" class="form-control-cc form-control-lg is-valid"
                                   type="text"
                                   id="id_customer_cellphone"
                                   pattern="[0-9]*"
                                   inputmode="numeric"
                                   name="customer_cellphone"
                                   value="{{ form.customer_cellphone.value|default_if_none:'' }}">
                            <div class="invalid-feedback">휴대전화 번호 형식이 올바르지 않습니다.</div>
                        </div>
                    </div>
                </div>
                <input id="id_car_type" name="car_type" value="1" hidden placeholder="차량유형">
                <input id="id_car_name" name="car_name" value="기존 차량" hidden placeholder="차명">
                <div class="form-group">
                    <label>차량번호 <span class="color-danger">*</span></label>
                    <input autofocus placeholder="차량번호" class="form-control-cc form-control-lg is-valid" type="text"
                           id="id_car_identification"
                           name="car_identification" value="{{ form.car_identification.value|default_if_none:'' }}">
                    <div class="invalid-feedback">차량/차대번호를 입력하세요.</div>
                </div>
                <div class="form-group">
                    <label>운전자한정특약 <span class="color-danger">*</span></label>
                    <select class="form-control-cc form-control-lg" id="id_driver_range" name="driver_range">
                        <option value="0" {% if form.driver_range.value == 0 %}selected{% endif %}>피보험자 1인</option>
                        <option value="1" {% if form.driver_range.value == 1 %}selected{% endif %}>피보험자 1인+지정1인</option>
                        <option value="2" {% if form.driver_range.value == 2 %}selected{% endif %}>누구나</option>
                        <option value="3" {% if form.driver_range.value == 3 %}selected{% endif %}>부부</option>
                        <option value="4" {% if form.driver_range.value == 4 %}selected{% endif %}>부부+지정1인</option>
                        <option value="5" {% if form.driver_range.value == 5 %}selected{% endif %}>가족</option>
                        <option value="6" {% if form.driver_range.value == 6 %}selected{% endif %}>가족+지정1인</option>
                        <option value="7" {% if form.driver_range.value == 7 %}selected{% endif %}>가족+형제자매</option>
                        {#                        <option value="8" {% if form.driver_range.value == 8 %}selected{% endif %}>개인사업자(임직원한정)</option>#}
                        {#                        <option value="9" {% if form.driver_range.value == 9 %}selected{% endif %}>법인사업자(임직원한정)</option>#}
                        {#                        <option value="10" {% if form.driver_range.value == 10 %}selected{% endif %}>법인사업자(누구나)</option>#}
                    </select>
                </div>
                <div class="form-group">
                    <label>최저운전자 생년월일 <span class="color-danger">*</span></label>
                    <input autofocus placeholder="19860906 형태" class="form-control-cc form-control-lg is-valid"
                           type="text"
                           oninput="birthdateOnInput(this)"
                           id="id_min_age_birthdate"
                           name="min_age_birthdate" value="{{ form.min_age_birthdate.value|default_if_none:'' }}">
                </div>
                <div class="form-group">
                    <label>메모</label>
                    <textarea class="form-control-cc form-control-lg" id="id_memo" name="memo" rows="2"
                              placeholder="설계사에게 전달할 내용을 적어주세요"></textarea>
                </div>

                <label>추가서류 1</label>
                <input id="id_attach_1" class="form-control is-valid" name="attach_1" type="file" accept="image/*"
                       hidden>
                <div class="invalid-feedback">추가서류1을 등록해주세요.</div>
                <div id="attach_1" class="imagePreviewWrapper d-flex justify-content-center align-items-center"
                     onclick="showImageInput(this.id)">
                    <div>추가서류1을 등록해주세요.</div>
                </div>

                <label>추가서류 2</label>
                <input id="id_attach_2" class="form-control is-valid" name="attach_2" type="file" accept="image/*"
                       hidden>
                <div id="attach_2" class="imagePreviewWrapper d-flex justify-content-center align-items-center"
                     onclick="showImageInput(this.id)">
                    <div>추가서류를 등록해주세요.</div>
                </div>

                <label>추가서류 3</label>
                <input id="id_attach_3" class="form-control is-valid" name="attach_3" type="file" accept="image/*"
                       hidden>
                <div id="attach_3" class="imagePreviewWrapper d-flex justify-content-center align-items-center"
                     onclick="showImageInput(this.id)">
                    <div>추가서류를 등록해주세요.</div>
                </div>
            </form>
            <button class="btn btn-cc-primary btn-block mb-3" onclick="compare()" type="button">견적요청</button>
            <button type="button" class="btn btn-cc-primary-outline btn-block" onclick="index()">취소</button>
        </div>
    </div>

{% endblock %}

{% block extrascript %}
    <script>
        const compareForm = document.getElementById('compareForm')
        const requestAuth = document.getElementById('requestAuth')
        const attach_1 = document.getElementById('id_attach_1')
        const attach_2 = document.getElementById('id_attach_2')
        const attach_3 = document.getElementById('id_attach_3')
        const attach1PreviewWrapper = document.getElementById('attach_1')
        const attach2PreviewWrapper = document.getElementById('attach_2')
        const attach3PreviewWrapper = document.getElementById('attach_3')
        const customer_name = document.getElementById('id_customer_name')
        const customer_identification = document.getElementById('id_customer_identification')
        const car_type = document.getElementById('id_car_type')
        const car_identification = document.getElementById('id_car_identification')
        const customer_cellphone = document.getElementById('id_customer_cellphone')
        const min_age_birthdate = document.getElementById('id_min_age_birthdate')
        const ssnprefix = document.getElementById('ssnprefix')
        const ssnsuffix = document.getElementById('ssnsuffix')
        const birthdateOnInput = (elem) => {
            elem.value = onlyDigit(elem.value)
        }

        function showImageInput(id) {
            var inputElem = document.getElementById(`id_${id}`)
            inputElem.click()
        }

        attach_1.addEventListener('change', async function (event) {
            var file = event.target.files[0]
            var imageUrl = window.URL.createObjectURL(file)
            var dimension = await imageSize(imageUrl)
            attach1PreviewWrapper.style.height = `${attach1PreviewWrapper.offsetWidth * dimension.height / dimension.width}px`
            attach1PreviewWrapper.style.backgroundImage = `url('${imageUrl}')`
            attach1PreviewWrapper.innerHTML = ''
        }, false)

        attach_2.addEventListener('change', async function (event) {
            var file = event.target.files[0]
            var imageUrl = window.URL.createObjectURL(file)
            var dimension = await imageSize(imageUrl)
            attach2PreviewWrapper.style.height = `${attach2PreviewWrapper.offsetWidth * dimension.height / dimension.width}px`
            attach2PreviewWrapper.style.backgroundImage = `url('${imageUrl}')`
            attach2PreviewWrapper.innerHTML = ''
        }, false)

        attach_3.addEventListener('change', async function (event) {
            var file = event.target.files[0]
            var imageUrl = window.URL.createObjectURL(file)
            var dimension = await imageSize(imageUrl)
            attach3PreviewWrapper.style.height = `${attach3PreviewWrapper.offsetWidth * dimension.height / dimension.width}px`
            attach3PreviewWrapper.style.backgroundImage = `url('${imageUrl}')`
            attach3PreviewWrapper.innerHTML = ''
        }, false)

        function validate() {
            if (customer_name.value === '') {
                alert('고객명을 입력하세요.')
                return false
            }
            if (ssnprefix.value.length !== 6) {
                alert('주빈번호 앞자리는 6자리 숫자입니다.')
                return false
            }
            if (ssnsuffix.value.length !== 7) {
                alert('주빈번호 뒷자리는 7자리 숫자입니다.')
                return false
            }
            customer_identification.value = `${ssnprefix.value}${ssnsuffix.value}`
            if (customer_cellphone.value === '') {
                alert('휴대전화번호는 필수 항목입니다.')
                return false
            }
            if (customer_identification.value === '') {
                alert('주민번호를 입력하세요.')
                return false
            }
            if (min_age_birthdate.value.trim() === '') {
                alert('최저연령 운전자 생년월일을 입력하세요')
                return false
            } else if (isValideDateString(min_age_birthdate.value) !== true) {
                alert('최저연령 운전자 생년월일 형식이 올바르지 않습니다. yyyymmdd 형태 8자리로 입력해주세요.')
                return false
            }
            if (car_type.value === "1") {
                // 중고차
                if (car_identification.value === "") {
                    alert('기존 차량은 차량번호가 필수입니다.')
                    return false
                }
            }
            return true
        }

        function compare() {
            if (validate() !== true) {
                return null
            }
            compareForm.submit()
        }

        document.addEventListener('DOMContentLoaded', function (event) {
            //overlay.off()
        })
    </script>
{% endblock %}