{% extends 'car_cms/base.html' %}
{% load static %}
{% load humanize %}

{% block title %}차다이렉트{% endblock %}

{% block extrastyle %}
    <style>
        .compareImage {
            border-radius: 1.5rem;
        }

        .insurer {
            border-bottom: 1px solid #003B4A;
            padding-left: 0.5rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        .insurer:last-child {
            border-bottom: none;
        }
    </style>
{% endblock %}

{% block outerbody %}
    {% include 'car_cms/partials/navbar.html' with title="차다이렉트" %}
{% endblock %}

{% block body %}
    <div class="d-flex flex-column justify-content-center p-3" id="estimate">
        <div class="header_title" style="line-height: 2.5rem">
            <span class="h3 font-weight-bolder">{{ compare.customer_name }}</span> 고객님의<br>보험 비교견적
        </div>
        <div class="mb-3">
            <div class="d-flex flex-row justify-content-between align-items-center mb-3">
                <span class="font-weight-bold">보험료</span>
            </div>
            {% if compare.estimate_insurer_1 and compare.estimate_premium_1 %}
                <div class="d-flex justify-content-between insurer mb-3">
                    {% if compare.estimate_insurer_1 == 'hyundai' %}
                        <img src="{% static 'car_cms/insurer/01_hyundai.png' %}" width="40%" height="40%">
                    {% elif compare.estimate_insurer_1 == 'db' %}
                        <img src="{% static 'car_cms/insurer/02_db.png' %}" width="40%" height="40%">
                    {% elif compare.estimate_insurer_1 == 'kb' %}
                        <img src="{% static 'car_cms/insurer/03_kb.png' %}" width="40%" height="40%">
                    {% elif compare.estimate_insurer_1 == 'hanwha' %}
                        <img src="{% static 'car_cms/insurer/04_hanhwa.png' %}" width="40%" height="40%">
                    {% elif compare.estimate_insurer_1 == 'meritz' %}
                        <img src="{% static 'car_cms/insurer/05_meritz.png' %}" width="40%" height="40%">
                    {% else %}
                        <div class="font-weight-bold">{{ compare.get_estimate_insurer_1_display }}</div>
                    {% endif %}
                    <div class="text-right">{{ compare.estimate_premium_1|intcomma }}원<br>
                        <small>{{ compare.estimate_memo_1|default_if_none:"" }}</small></div>
                </div>
            {% endif %}
            {% if compare.estimate_insurer_2 and compare.estimate_premium_2 %}
                <div class="d-flex justify-content-between insurer mb-3">
                    {% if compare.estimate_insurer_2 == 'hyundai' %}
                        <img src="{% static 'car_cms/insurer/01_hyundai.png' %}" width="40%" height="40%">
                    {% elif compare.estimate_insurer_2 == 'db' %}
                        <img src="{% static 'car_cms/insurer/02_db.png' %}" width="40%" height="40%">
                    {% elif compare.estimate_insurer_2 == 'kb' %}
                        <img src="{% static 'car_cms/insurer/03_kb.png' %}" width="40%" height="40%">
                    {% elif compare.estimate_insurer_2 == 'hanwha' %}
                        <img src="{% static 'car_cms/insurer/04_hanhwa.png' %}" width="40%" height="40%">
                    {% elif compare.estimate_insurer_2 == 'meritz' %}
                        <img src="{% static 'car_cms/insurer/05_meritz.png' %}" width="40%" height="40%">
                    {% else %}
                        <div class="font-weight-bold">{{ compare.get_estimate_insurer_2_display }}</div>
                    {% endif %}
                    <div class="text-right">{{ compare.estimate_premium_2|intcomma }}원<br>
                        <small>{{ compare.estimate_memo_2|default_if_none:"" }}</small></div>
                </div>
            {% endif %}
            {% if compare.estimate_insurer_3 and compare.estimate_premium_3 %}
                <div class="d-flex justify-content-between insurer mb-3">
                    {% if compare.estimate_insurer_3 == 'hyundai' %}
                        <img src="{% static 'car_cms/insurer/01_hyundai.png' %}" width="40%" height="40%">
                    {% elif compare.estimate_insurer_3 == 'db' %}
                        <img src="{% static 'car_cms/insurer/02_db.png' %}" width="40%" height="40%">
                    {% elif compare.estimate_insurer_3 == 'kb' %}
                        <img src="{% static 'car_cms/insurer/03_kb.png' %}" width="40%" height="40%">
                    {% elif compare.estimate_insurer_3 == 'hanwha' %}
                        <img src="{% static 'car_cms/insurer/04_hanhwa.png' %}" width="40%" height="40%">
                    {% elif compare.estimate_insurer_3 == 'meritz' %}
                        <img src="{% static 'car_cms/insurer/05_meritz.png' %}" width="40%" height="40%">
                    {% else %}
                        <div class="font-weight-bold">{{ compare.get_estimate_insurer_3_display }}</div>
                    {% endif %}
                    <div class="text-right">{{ compare.estimate_premium_3|intcomma }}원<br>
                        <small>{{ compare.estimate_memo_3|default_if_none:"" }}</small></div>
                </div>
            {% endif %}
            {% if compare.estimate_insurer_4 and compare.estimate_premium_4 %}
                <div class="d-flex justify-content-between insurer mb-3">
                    {% if compare.estimate_insurer_4 == 'hyundai' %}
                        <img src="{% static 'car_cms/insurer/01_hyundai.png' %}" width="40%" height="40%">
                    {% elif compare.estimate_insurer_4 == 'db' %}
                        <img src="{% static 'car_cms/insurer/02_db.png' %}" width="40%" height="40%">
                    {% elif compare.estimate_insurer_4 == 'kb' %}
                        <img src="{% static 'car_cms/insurer/03_kb.png' %}" width="40%" height="40%">
                    {% elif compare.estimate_insurer_4 == 'hanwha' %}
                        <img src="{% static 'car_cms/insurer/04_hanhwa.png' %}" width="40%" height="40%">
                    {% elif compare.estimate_insurer_4 == 'meritz' %}
                        <img src="{% static 'car_cms/insurer/05_meritz.png' %}" width="40%" height="40%">
                    {% else %}
                        <div class="font-weight-bold">{{ compare.get_estimate_insurer_4_display }}</div>
                    {% endif %}
                    <div class="text-right">{{ compare.estimate_premium_4|intcomma }}원<br>
                        <small>{{ compare.estimate_memo_4|default_if_none:"" }}</small></div>
                </div>
            {% endif %}
            {% if compare.estimate_insurer_5 and compare.estimate_premium_5 %}
                <div class="d-flex justify-content-between insurer mb-3">
                    {% if compare.estimate_insurer_5 == 'hyundai' %}
                        <img src="{% static 'car_cms/insurer/01_hyundai.png' %}" width="40%" height="40%">
                    {% elif compare.estimate_insurer_5 == 'db' %}
                        <img src="{% static 'car_cms/insurer/02_db.png' %}" width="40%" height="40%">
                    {% elif compare.estimate_insurer_5 == 'kb' %}
                        <img src="{% static 'car_cms/insurer/03_kb.png' %}" width="40%" height="40%">
                    {% elif compare.estimate_insurer_5 == 'hanwha' %}
                        <img src="{% static 'car_cms/insurer/04_hanhwa.png' %}" width="40%" height="40%">
                    {% elif compare.estimate_insurer_5 == 'meritz' %}
                        <img src="{% static 'car_cms/insurer/05_meritz.png' %}" width="40%" height="40%">
                    {% else %}
                        <div class="font-weight-bold">{{ compare.get_estimate_insurer_5_display }}</div>
                    {% endif %}
                    <div class="text-right">{{ compare.estimate_premium_5|intcomma }}원<br>
                        <small>{{ compare.estimate_memo_5|default_if_none:"" }}</small></div>
                </div>
            {% endif %}
            {% if compare.estimate_insurer_6 and compare.estimate_premium_6 %}
                <div class="d-flex justify-content-between insurer mb-3">
                    {% if compare.estimate_insurer_6 == 'hyundai' %}
                        <img src="{% static 'car_cms/insurer/01_hyundai.png' %}" width="40%" height="40%">
                    {% elif compare.estimate_insurer_6 == 'db' %}
                        <img src="{% static 'car_cms/insurer/02_db.png' %}" width="40%" height="40%">
                    {% elif compare.estimate_insurer_6 == 'kb' %}
                        <img src="{% static 'car_cms/insurer/03_kb.png' %}" width="40%" height="40%">
                    {% elif compare.estimate_insurer_6 == 'hanwha' %}
                        <img src="{% static 'car_cms/insurer/04_hanhwa.png' %}" width="40%" height="40%">
                    {% elif compare.estimate_insurer_6 == 'meritz' %}
                        <img src="{% static 'car_cms/insurer/05_meritz.png' %}" width="40%" height="40%">
                    {% else %}
                        <div class="font-weight-bold">{{ compare.get_estimate_insurer_6_display }}</div>
                    {% endif %}
                    <div class="text-right">{{ compare.estimate_premium_6|intcomma }}원<br>
                        <small>{{ compare.estimate_memo_6|default_if_none:"" }}</small></div>
                </div>
            {% endif %}
            {% if compare.estimate_insurer_7 and compare.estimate_premium_7 %}
                <div class="d-flex justify-content-between insurer mb-3">
                    {% if compare.estimate_insurer_7 == 'hyundai' %}
                        <img src="{% static 'car_cms/insurer/01_hyundai.png' %}" width="40%" height="40%">
                    {% elif compare.estimate_insurer_7 == 'db' %}
                        <img src="{% static 'car_cms/insurer/02_db.png' %}" width="40%" height="40%">
                    {% elif compare.estimate_insurer_7 == 'kb' %}
                        <img src="{% static 'car_cms/insurer/03_kb.png' %}" width="40%" height="40%">
                    {% elif compare.estimate_insurer_7 == 'hanwha' %}
                        <img src="{% static 'car_cms/insurer/04_hanhwa.png' %}" width="40%" height="40%">
                    {% elif compare.estimate_insurer_7 == 'meritz' %}
                        <img src="{% static 'car_cms/insurer/05_meritz.png' %}" width="40%" height="40%">
                    {% else %}
                        <div class="font-weight-bold">{{ compare.get_estimate_insurer_7_display }}</div>
                    {% endif %}
                    <div class="text-right">{{ compare.estimate_premium_7|intcomma }}원<br>
                        <small>{{ compare.estimate_memo_7|default_if_none:"" }}</small></div>
                </div>
            {% endif %}
            {% if compare.estimate_insurer_8 and compare.estimate_premium_8 %}
                <div class="d-flex justify-content-between insurer mb-3">
                    {% if compare.estimate_insurer_8 == 'hyundai' %}
                        <img src="{% static 'car_cms/insurer/01_hyundai.png' %}" width="40%" height="40%">
                    {% elif compare.estimate_insurer_8 == 'db' %}
                        <img src="{% static 'car_cms/insurer/02_db.png' %}" width="40%" height="40%">
                    {% elif compare.estimate_insurer_8 == 'kb' %}
                        <img src="{% static 'car_cms/insurer/03_kb.png' %}" width="40%" height="40%">
                    {% elif compare.estimate_insurer_8 == 'hanwha' %}
                        <img src="{% static 'car_cms/insurer/04_hanhwa.png' %}" width="40%" height="40%">
                    {% elif compare.estimate_insurer_8 == 'meritz' %}
                        <img src="{% static 'car_cms/insurer/05_meritz.png' %}" width="40%" height="40%">
                    {% else %}
                        <div class="font-weight-bold">{{ compare.get_estimate_insurer_8_display }}</div>
                    {% endif %}
                    <div class="text-right">{{ compare.estimate_premium_8|intcomma }}원<br>
                        <small>{{ compare.estimate_memo_8|default_if_none:"" }}</small></div>
                </div>
            {% endif %}
            {% if compare.estimate_insurer_9 and compare.estimate_premium_9 %}
                <div class="d-flex justify-content-between insurer mb-3">
                    {% if compare.estimate_insurer_9 == 'hyundai' %}
                        <img src="{% static 'car_cms/insurer/01_hyundai.png' %}" width="40%" height="40%">
                    {% elif compare.estimate_insurer_9 == 'db' %}
                        <img src="{% static 'car_cms/insurer/02_db.png' %}" width="40%" height="40%">
                    {% elif compare.estimate_insurer_9 == 'kb' %}
                        <img src="{% static 'car_cms/insurer/03_kb.png' %}" width="40%" height="40%">
                    {% elif compare.estimate_insurer_9 == 'hanwha' %}
                        <img src="{% static 'car_cms/insurer/04_hanhwa.png' %}" width="40%" height="40%">
                    {% elif compare.estimate_insurer_9 == 'meritz' %}
                        <img src="{% static 'car_cms/insurer/05_meritz.png' %}" width="40%" height="40%">
                    {% else %}
                        <div class="font-weight-bold">{{ compare.get_estimate_insurer_9_display }}</div>
                    {% endif %}
                    <div class="text-right">{{ compare.estimate_premium_9|intcomma }}원<br>
                        <small>{{ compare.estimate_memo_9|default_if_none:"" }}</small></div>
                </div>
            {% endif %}
            {% if compare.estimate_insurer_10 and compare.estimate_premium_10 %}
                <div class="d-flex justify-content-between insurer mb-3">
                    {% if compare.estimate_insurer_10 == 'hyundai' %}
                        <img src="{% static 'car_cms/insurer/01_hyundai.png' %}" width="40%" height="40%">
                    {% elif compare.estimate_insurer_10 == 'db' %}
                        <img src="{% static 'car_cms/insurer/02_db.png' %}" width="40%" height="40%">
                    {% elif compare.estimate_insurer_10 == 'kb' %}
                        <img src="{% static 'car_cms/insurer/03_kb.png' %}" width="40%" height="40%">
                    {% elif compare.estimate_insurer_10 == 'hanwha' %}
                        <img src="{% static 'car_cms/insurer/04_hanhwa.png' %}" width="40%" height="40%">
                    {% elif compare.estimate_insurer_10 == 'meritz' %}
                        <img src="{% static 'car_cms/insurer/05_meritz.png' %}" width="40%" height="40%">
                    {% else %}
                        <div class="font-weight-bold">{{ compare.get_estimate_insurer_10_display }}</div>
                    {% endif %}
                    <div class="text-right">{{ compare.estimate_premium_10|intcomma }}원<br>
                        <small>{{ compare.estimate_memo_10|default_if_none:"" }}</small></div>
                </div>
            {% endif %}
            {% if compare.estimate_insurer_11 and compare.estimate_premium_11 %}
                <div class="d-flex justify-content-between insurer mb-3">
                    {% if compare.estimate_insurer_11 == 'hyundai' %}
                        <img src="{% static 'car_cms/insurer/01_hyundai.png' %}" width="40%" height="40%">
                    {% elif compare.estimate_insurer_11 == 'db' %}
                        <img src="{% static 'car_cms/insurer/02_db.png' %}" width="40%" height="40%">
                    {% elif compare.estimate_insurer_11 == 'kb' %}
                        <img src="{% static 'car_cms/insurer/03_kb.png' %}" width="40%" height="40%">
                    {% elif compare.estimate_insurer_11 == 'hanwha' %}
                        <img src="{% static 'car_cms/insurer/04_hanhwa.png' %}" width="40%" height="40%">
                    {% elif compare.estimate_insurer_11 == 'meritz' %}
                        <img src="{% static 'car_cms/insurer/05_meritz.png' %}" width="40%" height="40%">
                    {% else %}
                        <div class="font-weight-bold">{{ compare.get_estimate_insurer_11_display }}</div>
                    {% endif %}
                    <div class="text-right">{{ compare.estimate_premium_11|intcomma }}원<br>
                        <small>{{ compare.estimate_memo_11|default_if_none:"" }}</small></div>
                </div>
            {% endif %}
            {% if compare.estimate_insurer_12 and compare.estimate_premium_12 %}
                <div class="d-flex justify-content-between insurer mb-3">
                    {% if compare.estimate_insurer_12 == 'hyundai' %}
                        <img src="{% static 'car_cms/insurer/01_hyundai.png' %}" width="40%" height="40%">
                    {% elif compare.estimate_insurer_12 == 'db' %}
                        <img src="{% static 'car_cms/insurer/02_db.png' %}" width="40%" height="40%">
                    {% elif compare.estimate_insurer_12 == 'kb' %}
                        <img src="{% static 'car_cms/insurer/03_kb.png' %}" width="40%" height="40%">
                    {% elif compare.estimate_insurer_12 == 'hanwha' %}
                        <img src="{% static 'car_cms/insurer/04_hanhwa.png' %}" width="40%" height="40%">
                    {% elif compare.estimate_insurer_12 == 'meritz' %}
                        <img src="{% static 'car_cms/insurer/05_meritz.png' %}" width="40%" height="40%">
                    {% else %}
                        <div class="font-weight-bold">{{ compare.get_estimate_insurer_12_display }}</div>
                    {% endif %}
                    <div class="text-right">{{ compare.estimate_premium_12|intcomma }}원<br>
                        <small>{{ compare.estimate_memo_12|default_if_none:"" }}</small></div>
                </div>
            {% endif %}

        </div>
        <div class="mb-3">
            <div class="d-flex flex-row justify-content-between align-items-center mb-3">
                <span class="font-weight-bold">피보험자 정보</span>
            </div>
            <div class="d-flex flex-row justify-content-between mb-2">
                <div class="font-weight-light">성명</div>
                <div>{{ compare.insured_name }}</div>
            </div>
            <div class="d-flex flex-row justify-content-between mb-2">
                <div class="font-weight-light">생년월일</div>
                <div>{{ compare.birthdate|date:"Y-m-d" }}</div>
            </div>
        </div>
        <div class="mb-3">
            <div class="d-flex flex-row justify-content-between align-items-center mb-3">
                <span class="font-weight-bold">차량 정보</span>
            </div>
            <div class="d-flex flex-row justify-content-between mb-2">
                <div class="font-weight-light">차명</div>
                <div>{{ compare.car_name_fixed }}</div>
            </div>
            {% if compare.vin %}
                <div class="d-flex flex-row justify-content-between mb-2">
                    <div class="font-weight-light">차대번호</div>
                    <div>{{ compare.vin }}</div>
                </div>
            {% endif %}
            {% if compare.car_no %}
                <div class="d-flex flex-row justify-content-between mb-2">
                    <div class="font-weight-light">차량번호</div>
                    <div>{{ compare.car_no }}</div>
                </div>
            {% endif %}
        </div>
        <div class="mb-3">
            <div class="d-flex flex-row justify-content-between align-items-center mb-3">
                <span class="font-weight-bold">계약 정보</span>
            </div>
            <div class="d-flex flex-row justify-content-between mb-2">
                <div class="font-weight-light">보험 개시일</div>
                <div>{{ compare.start_at|date:"Y-m-d" }}</div>
            </div>
        </div>
        <div class="mb-3">
            <div class="d-flex flex-row justify-content-between align-items-center mb-3">
                <span class="font-weight-bold">운전자 특약 정보</span>
            </div>
            <div class="d-flex flex-row justify-content-between mb-2">
                <div class="font-weight-light">운전자 범위</div>
                <div>{{ compare.get_driver_range_fixed_display }}</div>
            </div>
            <div class="d-flex flex-row justify-content-between mb-2">
                <div class="font-weight-light">최저연령 운전자 특약</div>
                {% if compare.min_age %}
                    <div>만 {{ compare.min_age }}세 미만</div>
                {% else %}
                    <div>미가입</div>
                {% endif %}
            </div>
        </div>
        <div class="mb-3">
            <div class="d-flex flex-row justify-content-between align-items-center mb-3">
                <span class="font-weight-bold">담보</span>
            </div>
            <div class="d-flex flex-row justify-content-between mb-2">
                <div class="font-weight-light">대인배상 I</div>
                <div>가입</div>
            </div>
            <div class="d-flex flex-row justify-content-between mb-2">
                <div class="font-weight-light">대인배상 II</div>
                <div>{% if compare.bi_2 %}가입{% else %}미가입{% endif %}</div>
            </div>
            <div class="d-flex flex-row justify-content-between mb-2">
                <div class="font-weight-light">대물배상</div>
                <div>{{ compare.get_li_display }}</div>
            </div>
            <div class="d-flex flex-row justify-content-between mb-2">
                <div class="font-weight-light">자기차량손해</div>
                <div>{{ compare.get_self_damage_display }}</div>
            </div>
            <div class="d-flex flex-row justify-content-between mb-2">
                <div class="font-weight-light">자손/자상</div>
                <div>{{ compare.get_self_injury_display }}</div>
            </div>
            <div class="d-flex flex-row justify-content-between mb-2">
                <div class="font-weight-light">무보험차상해</div>
                <div>{{ compare.get_uninsured_display }}</div>
            </div>
        </div>
        <div class="mb-3">
            <div class="d-flex flex-row justify-content-between align-items-center mb-3">
                <span class="font-weight-bold">기타 특약</span>
            </div>
            <div class="d-flex flex-row justify-content-between mb-2">
                <div class="font-weight-light">긴급출동</div>
                <div>{{ compare.get_emergency_display }}</div>
            </div>
            <div class="d-flex flex-row justify-content-between mb-2">
                <div class="font-weight-light">블랙박스 할인</div>
                <div>{{ compare.get_blackbox_display }}</div>
            </div>
        </div>
        <div class="mb-3">
            <div class="d-flex flex-row justify-content-between align-items-center mb-3">
                <span class="font-weight-bold">담당자</span>
            </div>
            <div class="d-flex flex-row justify-content-between mb-2">
                <div class="font-weight-light">{{ compare.manager.name }}</div>
                <div><a style="color: #003B4A !important"
                        href="tel:{{ compare.manager.cellphone }}">{{ compare.manager.cellphone }}</a></div>
            </div>
        </div>

        <div>
            <button type="button" class="btn btn-cc-primary btn-block" id="captureBtn"
                    onclick="capture('{{ compare.id }}')">다운로드
            </button>
            <button type="button" class="btn btn-cc-primary-outline btn-block" id="compareDetailBtn"
                    onclick="compareDetail('{{ compare.id }}')">이전
            </button>
        </div>
    </div>

{% endblock %}

{% block extrascript %}
    <script src="{% static 'vendor/html2canvas/html2canvas.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
    <script>
        const captureBtn = document.getElementById('captureBtn')
        const compareDetailBtn = document.getElementById('compareDetailBtn')

        function capture() {
            captureBtn.hidden = true
            compareDetailBtn.hidden = true
            html2canvas(document.querySelector("#estimate"), {
                allowTaint: true,
                useCORS: true
            }).then(canvas => {
                canvas.toBlob(function (blob) {
                    saveAs(blob, "wholePage.png");
                    captureBtn.hidden = false
                    compareDetailBtn.hidden = false
                })
            });
        }
    </script>
{% endblock %}