{% extends 'car_cms/base.html' %}
{% load static %}
{% load humanize %}

{% block title %}차다이렉트{% endblock %}

{% block extrastyle %}
{% endblock %}

{% block outerbody %}
    {% include 'car_cms/partials/navbar.html' with title="차다이렉트" %}
{% endblock %}

{% block body %}
    <div class="d-flex flex-column justify-content-center p-3 pb-5 mb-5">
        <div class="header_title">안녕하세요,<br><span class="h3 font-weight-bolder">{{ cms_user.name }}</span>님<br>좋은 하루
            보내세요
        </div>
        <div class="mb-5">
            <div class="d-flex flex-row justify-content-between align-items-center mb-3">
                <span class="font-weight-bold">{{ month }}월 견적현황</span>
                <div class="d-flex align-items-center color-primary cursor-pointer" onclick="compareList()">
                    <div class="font-weight-normal">내 견적</div>
                    <i class="bi bi-chevron-right ml-2" style="font-size: 0.5rem"></i>
                </div>
            </div>
            <div class="">
                <div class="d-flex flex-row justify-content-between mb-2">
                    <div>견적 요청</div>
                    <div class="font-weight-light">{{ summary.request|intcomma }}건</div>
                </div>
                <div class="d-flex flex-row justify-content-between mb-2">
                    <div>견적 산출중</div>
                    <div class="font-weight-light">{{ summary.calculating|intcomma }}건</div>
                </div>
                <div class="d-flex flex-row justify-content-between">
                    <div>체결</div>
                    <div class="font-weight-light">{{ summary.contract_success|intcomma }}건</div>
                </div>
            </div>
        </div>
        <div>
            <div class="d-flex flex-row justify-content-between align-items-center mb-3">
                <span class="font-weight-bold">최근 공지사항</span>
                <div class="d-flex align-items-center color-primary cursor-pointer" onclick="notice()">
                    <div class="font-weight-normal">전체보기</div>
                    <i class="bi bi-chevron-right ml-2" style="font-size: 0.5rem"></i>
                </div>
            </div>
            {% if notice_list %}
                {% if notice_list.count == 0 %}
                    <div class="text-center font-weight-light">
                        등록된 공지사항이 없습니다.
                    </div>
                {% else %}
                    <div class="">
                        {% for notice in notice_list %}
                            <div data-notice-id="{{ notice.id }}"
                                 class="d-flex flex-row justify-content-between mb-2 cursor-pointer"
                                 onclick="noticeDetail(this.dataset.noticeId)">
                                <div class="pr-2">{{ notice.title|slice:":30" }}</div>
                                <div class="font-weight-lighter">{{ notice.registered_at|date:"Y/m/d" }}</div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% else %}
                <div class="text-center font-weight-light">
                    등록된 공지사항이 없습니다.
                </div>
            {% endif %}
        </div>
    </div>
    <div class="fixed-bottom p-2">
        <button type="button" class="btn btn-cc-primary btn-block" onclick="compare()">견적요청</button>
    </div>
    <div class="modal fade" id="installModal" tabindex="-1" role="dialog" aria-labelledby="installModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="installModalLabel">차다이렉트 앱을 설치해보세요</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    쉽고 빠르게 견적 요청을 보낼 수 있습니다.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-primary" onclick="installApp()">설치</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrascript %}


    <script>
        document.addEventListener('DOMContentLoaded', function (event) {
            //overlay.off()
        })
        // 설치유도 팝업
        let deferredPrompt;

        window.addEventListener('beforeinstallprompt', (e) => {
            $("#installApp").modal('show')
            deferredPrompt = e;
        });

        async function installApp() {

            if (deferredPrompt !== null) {
                deferredPrompt.prompt();
                const {outcome} = await deferredPrompt.userChoice;
                if (outcome === 'accepted') {
                    deferredPrompt = null;
                }
            }
        }
    </script>
{% endblock %}